<h1>Bandas favortias</h1>
<table border = "1">
  <tr> 
    <tr> 
   
    <th> IdArtista</th>
    <th> NombreArtista</th>
    <th> Cantidad de Operaciones</th>
  </tr>
  <tr>
    
    <th> {{artistas[0].id}}</th>
    <th> {{artistas[0].nombre}}</th>
    <th> {{artistas[0].operaciones}}</th>
    
  </tr>
  <tr>
    
    <th> {{artistas[1].id}}</th>
    <th> {{artistas[1].nombre}}</th>
    <th> {{artistas[1].operaciones}}</th>
    
  </tr>
  <tr>
    
    <th> {{artistas[2].id}}</th>
    <th> {{artistas[2].nombre}}</th>
    <th> {{artistas[2].operaciones}}</th>
    
  </tr>
  <tr>
    
    <th> {{artistas[3].id}}</th>
    <th> {{artistas[3].nombre}}</th>
    <th> {{artistas[3].operaciones}}</th>
    
  </tr>
  <tr>
    
    <th> {{artistas[4].id}}</th>
    <th> {{artistas[4].nombre}}</th>
    <th> {{artistas[4].operaciones}}</th>
    
  </tr>
  <tr>
    
    <th> {{artistas[5].id}}</th>
    <th> {{artistas[5].nombre}}</th>
    <th> {{artistas[5].operaciones}}</th>
    
  </tr>
  <tr>
    
    <th> {{artistas[6].id}}</th>
    <th> {{artistas[6].nombre}}</th>
    <th> {{artistas[6].operaciones}}</th>
    
  </tr>
 
  
  
</table>

