<h1>Bandas favortias</h1>
<table border = "1">
  <tr> Nombre
    <th> {{banda1.nombre}}</th>
    <th> {{banda2.nombre}}</th>
    <th> {{banda3.nombre}}</th>
    <th> {{banda4.nombre}}</th>
    <th> {{banda5.nombre}}</th>
  </tr>
  <tr> 1
    <th>{{banda1.descripcion}}</th>
    <th>{{banda2.descripcion}}</th>
    <th>{{banda3.descripcion}}</th>
    <th>{{banda4.descripcion}}</th>
    <th>{{banda5.descripcion}}</th>
  </tr>
  <tr> 2
    <th>{{banda1.url}}</th>
    <th>{{banda2.url}}</th>
    <th>{{banda3.url}}</th>
    <th>{{banda4.url}}</th>
    <th>{{banda5.url}}</th>
  </tr>
  <tr> 3
    <th>{{banda1.url}}</th>
    <th>{{banda2.url}}</th>
    <th>{{banda3.url}}</th>
    <th>{{banda4.url}}</th>
    <th>{{banda5.url}}</th>
  </tr>
  <tr> 4
    <th>{{banda1.url}}</th>
    <th>{{banda2.url}}</th>
    <th>{{banda3.url}}</th>
    <th>{{banda4.url}}</th>
    <th>{{banda5.url}}</th>
  </tr>
  <tr> 5
    <th>{{banda1.url}}</th>
    <th>{{banda2.url}}</th>
    <th>{{banda3.url}}</th>
    <th>{{banda4.url}}</th>
    <th>{{banda5.url}}</th>
  </tr>
  <tr> 6
    <th>{{banda1.url}}</th>
    <th>{{banda2.url}}</th>
    <th>{{banda3.url}}</th>
    <th>{{banda4.url}}</th>
    <th>{{banda5.url}}</th>
  </tr>
  <tr> 7
    <th>{{banda1.url}}</th>
    <th>{{banda2.url}}</th>
    <th>{{banda3.url}}</th>
    <th>{{banda4.url}}</th>
    <th>{{banda5.url}}</th>
  </tr>
  <tr> 8
    <th>{{banda1.url}}</th>
    <th>{{banda2.url}}</th>
    <th>{{banda3.url}}</th>
    <th>{{banda4.url}}</th>
    <th>{{banda5.url}}</th>
  </tr>
  <tr> 9
    <th>{{banda1.url}}</th>
    <th>{{banda2.url}}</th>
    <th>{{banda3.url}}</th>
    <th>{{banda4.url}}</th>
    <th>{{banda5.url}}</th>
  </tr>
  <tr> 10
    <th>{{banda1.url}}</th>
    <th>{{banda2.url}}</th>
    <th>{{banda3.url}}</th>
    <th>{{banda4.url}}</th>
    <th>{{banda5.url}}</th>
  </tr>
</table>